* {
    font-family: "Segoe UI", Arial, sans-serif;
}

h1, h2, h3, p, span, a {
    text-shadow: 
    0px 0px 4px rgba(255, 255, 255, 0.4),  /* Soft outer glow */
    0px 0px 8px rgba(255, 255, 255, 0.2)  /* Medium glow */
}

body {
    background: url(Assets/Images/background.jpg);
    background-size: cover;
    color: white;
}

.navbar, .content {
    position: relative;
    background: url(Assets/Images/aero.png);
    background-size: cover;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 1.5px solid #ccc;
    overflow: hidden;
}

.navbar::before, .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
}

.logo {
    width: 60px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 850px;
}

.link-navbar, .link-navbar-img {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.link-navbar-img {
    width: 32px;
}

.navbar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-link a:last-child {
    margin-right: 0;
}

.navbar, .content {
    max-width: 900px;
    margin: 0 auto;
}

.content {
    border-radius: 3px;
    border: 1.5px solid #ccc; 
    height: 900px;
}

section {
    height: 300px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-left {
    padding-left: 60px;
}

.section-right {
    padding-right: 60px;
    text-align: right;
}

.header-section {
    font-size: 24px;
}

.tagline-section {
    font-size: 18px;
    color: #ffffff95;
    font-weight: 500;
}

.download-link {
    color: white;
    text-decoration: none;
}

.desktop-image {
    width: 200px;
}

.desktop-image-showcase {
    width: 300px;
    padding-right: 60px;
}

.footer {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}